language: ruby
cache: bundler
rvm:
  - 2.1.1
addons:
  postgresql: '9.3'
before_script:
  - cp config/database.yml.travis config/database.yml
  - bundle exec rake db:create:all
after_script:
  - RAILS_ENV=test bundle exec rake spec:javascript
