@import "font-awesome-sprockets"
@import "font-awesome"
@import admin_components
@import admin_layout
@import grey

.page-boxed
  overflow: scroll

.page-logo
  a
    color: #fefefe
    margin-right: 20px
    font-size: 18px

    &:hover
      text-decoration: none

.page-content
  table
    width: 100%
    table-layout: fixed

  table,th,td
    border: 1px solid black
    border-collapse: collapse

  th
    background: #555555
    color: white
  td
    word-wrap: break-word

  .col-email
    width: 25%

  .col-your-name
    width: 20%

  .col-created-at
    width: 20%

  .col-status
    width: 10%

  .col-domain
    width: 15%

  .col-actions
    width: 10%

  th,td
    padding: 5px
    text-align: center

  tr:nth-child(even)
    background: #f9f9f9

  tbody
    tr
      &:hover
        background: #eeeeee
        cursor: default

.sign-out
  a
    font-size: 20px
