@import "font-awesome-sprockets"
@import "font-awesome"
@import admin_components
@import admin_layout
@import grey

.page-boxed
  overflow: scroll

.page-logo
  a
    color: #fefefe
    margin-right: 20px
    font-size: 18px

    &:hover
      text-decoration: none

.page-content
  table
    width: 100%

  table,th,td
    border: 1px solid black
    border-collapse: collapse

  th
    background: #555555
    color: white

  th,td
    padding: 5px
    text-align: center

  tr:nth-child(even)
    background: #f9f9f9

  tbody
    tr
      &:hover
        background: #eeeeee
        cursor: default

.sign-out
  a
    font-size: 20px

.edit
  padding: 0
  margin: 0 0 5px 0
  background: #ffb848
  &:hover
    background: #ff9933
  i
    margin-right: 5px
    color: white
  a
    color: white
    text-decoration: none
    font-weight: bold

.delete
  padding: 0
  margin: 0
  background: #f3565d
  &:hover
    background: red
  i
    margin-right: 5px
    color: white
  a
    color: white
    text-decoration: none
    font-weight: bold

.status
  font-weight: bold
  color: #f1f1f1
  &.approve
    background: #45b6af
  &.pending
    background: #89c4f4
  &.reject
    background: #f3565d
