header
  = render 'service_orders/partial/heading'
section.welcome
  = render 'service_orders/partial/welcome'
/ section.timeline
/   = render 'service_orders/partial/timeline'
/ section.family
/   = render 'service_orders/partial/family'
/ section.memory
/   = render 'service_orders/partial/memory'
/ section.favorite
/   = render 'service_orders/partial/favorite'
/ section.event
/   = render 'service_orders/partial/event'
section.social
  = render 'service_orders/partial/social'
footer
  = render 'service_orders/partial/footer'
