button.button-custom
  box-sizing: border-box
  border: 2px solid white !important
  color: white !important
  text-transform: none !important
  font-weight: 400 !important
  font-size: 18px !important
  width: 100%
  padding: 5px 0
  margin-top: 17px
  height: auto
