nav
  padding: 25px 0

ul
  list-style: none
  margin: 0

  li
    display: inline-block
    margin: 0
    padding: 0 10px

#homes
  header
    background-image: asset-url('header_image.jpg')
    height: 800px
    width: 100%
    background-size: cover

  section#features
    .container
      padding: 25px 0

  section#templates
    background-image: asset-url('templates_background.jpg')
    background-size: cover

    @extend section#features

    h3
      text-align: center
      color: white

    .column:nth-child(even)
      .image-wrapper
        float: right

  section#commitments
    background-image: asset-url('commitment_background.jpg')
    background-size: cover
    height: 300px

    h3
      text-align: center
      color: white
      top: 50%

    @extend section#features

footer
  color: #eee
  padding: 10px 0
  background: #222

  h5
    font-size: 15px
    margin: 0

  ul
    text-align: right

i
  padding-right: 10px

a
  text-decoration: none
