nav
  position: fixed
  width: 100%
  padding: 25px 0
  top: 0
  z-index: 1001

ul
  list-style: none
  margin: 0

  li
    display: inline-block
    margin: 0
    padding: 0 10px

html, body, article
  height: 100%

.container-fluid
  padding: 0 !important
  height: 100%

#homes
  #header
    top: 0
    .cover-image
      background: asset_url('header.jpg')
      height: 100%
      position: relative

      .cover-image-wrapper
        width: 50%
        min-width: 400px
        position: absolute
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        .button.button-custom.share-now
          width: 170px

        h1
          font-size: 40px
          color: #EEE
          font-weight: 300

        h1.red
          font-weight: 900
          color: $red

footer
  color: #eee
  padding: 10px 0
  background: #222

  h5
    font-size: 15px
    margin: 0

  ul
    text-align: right

i
  padding-right: 10px

a
  text-decoration: none
