nav
  position: fixed
  width: 100%
  padding: 15px 0
  top: 0
  z-index: 1001
  color: white

ul
  list-style: none
  margin: 0

  li
    display: inline-block
    margin: 0
    padding: 0 10px

html.homes, body, article, #skrollr-body
  height: 100%

.container-fluid
  padding: 0 !important
  height: 100%

#homes
  header
    .container
      background: asset_url("header.jpg")

  .button.button-custom.share-now
    width: 170px

  #templates
    color: white
    padding: 15px 0

    h2
      padding: 0
      margin-bottom: 20px
      font-weight: 300

    .template-background-cover
      background: asset_url('feather.jpg')
      background-size: cover
      width: 100%
      height: 100%

      position: absolute
      top: 0

    .copy-wrapper
      position: absolute
      width: 50%
      min-width: 300px
      top: 50%
      left: 50%
      z-index: 4
      text-align: center

    .image-wrapper
      width: 85%
      margin: 0 auto

      img
        width: 100%

  #header
    .container-fluid
      background: asset_url('header.jpg')
      background-size: cover
      height: 100%
      position: relative

      .cover-image-wrapper
        width: 50%
        min-width: 400px
        position: absolute
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        h1
          font-size: 40px
          color: #EEE
          font-weight: 300

        h1.red
          font-weight: 900
          color: $red

  #features
    .feature-wrapper
      padding: 20px 0

footer
  background: #353535
  color: white
  height: 40%
  width: 100%

  .container-fluid
    height: 100%
    padding-top: 40px
    position: relative

  .social-connection
    padding: 30px 0
    font: 30px

    .fa-stack
      font-size: 2em

    .fa-stack-2x.fb
      color: #3B5998
    .fa-stack-2x.tw
      color: #5EA9DD
    .fa-stack-2x.gp
      color: #DF4B38

    .fa-stack-1x
      color: white

  .copy-right
    position: absolute
    width: 100%
    height: 50px
    text-align: center
    bottom: 0
    color: white
    background: #111

    h5
      line-height: 50px
      margin: 0
a
  text-decoration: none
