//= require owl.carousel
//= require owl.theme

@import "font-awesome-sprockets"
@import "font-awesome"
@import font
@import skeleton
@import normalize

.overlay
  background: rgba(239, 106, 138, 0.3)
  position: relative
  width: 100%
  height: 100%

#owl-carousel
  .owl-controls
    position: absolute
    top: 90%
    width: 100%
    text-align: center

    span
      background: white

  .item
    width: 100%
    height: auto
    background-size: cover !important

  .content
    width: 100%
    position: absolute
    text-align: center !important
    top: 30%
    color: white

    .name
      font-family: 'Great Vibes'
      font-size: 8em

    i
      color: #f04c74