<div class="page-header">
  <h1>Editing <%= link_to "user #{@user.id}", admin_user_path(@user) %></h1>
</div>

<%= form_for [:admin, @user], :html => { :class => "form-horizontal", :role => "form" } do |f| -%>
  <%= render "form", { :f => f } %>
<% end -%>
